:root {
    --color-bg: rgba(0, 0, 0, 0.86);
    --color-main: pink;
}
.scrolling-water {
	background: url('water.png') repeat top left;
	background-size: 19%;
	height: 100%;
	width: 100%;
	position: relative;
	animation: slide 68s linear infinite;
    display: flex;
    justify-content: center;
}
.youtube-text {
    display:flex;
    justify-content:center;
    border: 1px double #262626;
}
.youtube-item {
    flex: 1;
    padding:13px;
    border:none;

}
iframe.youtube-item {
	height: 50%;
	width: 50%;
}
.index-main {
    background: var(--color-bg);
    color: var(--color-main);
    width: 80%;
    padding: 10px;
}
a:link {
  color: mediumpurple;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rebeccapurple;
  background-color: transparent;
  text-decoration: none;
}

@keyframes slide {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 1000px -1000px;
	}
}
